body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  border: none;
  background-position: center;
  overflow-x: hidden;
  overflow-y: hidden;
  background: url(./components/styler/images/purpleForest.jpg);
  background-size:cover;
  background-position: center;
}

.stylerboi {
  display: flex;
  align-items: center;
  max-width: 95%;
  margin: 0 30% 50% 37%;
  overflow: hidden;
  z-index: 3;
  
}

.room {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  padding: 20px;
  background: transparent;
  backdrop-filter: blur(8px);
  position: fixed;
  top: 40%;
  left: 40%;
}

.room input {
  width: 100%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  margin-bottom: 10px;
  padding: 10px 20px;
  outline: none;
}

.room button {
  width: 100%;
  background-color: white;
  border: none;
  border-radius: 40px;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
}

.sign-out {
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: center;
  cursor: pointer;
}

.sign-out button {
  width: 100px;
  height: 35px;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.RoomNameInput {
  color: white;
  font-weight: 500;
  max-width: 90%;
}

@media only screen and (max-width: 768px) {
  .stylerboi {
    margin:0;
  }

  .room {
    position: fixed;
    top: 50%;
    left: 20%;

  }

  .sign-out {
    position: fixed;
    top: 20px; 
    right: 20px;
    text-align: center;
    cursor: pointer;
    z-index: 100; 
  }
}
